registry=https://repo.symphony.com/artifactory/api/npm/npm-virtual-dev/
always-auth=true
//repo.symphony.com/artifactory/api/npm/npm-virtual-dev/:_auth="c2FsYWguYmVubW91c3NhdGlAc3ltcGhvbnkuY29tOkFLQ3A4aWk5R0xhN25vNjRIeTJHNTdEN204SmJGNEdwMnBUZm1HQmo2YW9IOXU0ZGdXR01aVG9kUmdpdERqaW55QTh4OTNoWGM="