html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

.content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.name {
    display: block;
    font-size: 1.3em;
    padding: 10px;
    font-weight: bold;
}

.version-text {
    display: block;
    font-size: 1em;
    color: #2f2f2f;
}

.copyright-text {
    display: block;
    padding: 10px;
    font-size: 0.6em;
    color: #7f7f7f;
}