@import 'theme';

@white: rgb(255, 255, 255, 1);
@version-text-color: rgb(47, 47, 47, 1);
@copyright-text-color: rgb(127, 127, 127, 1);
@text-padding: 10px;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: white;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.AboutApp:lang(ja-JP) {
  font-family: @font-family-ja;
}

.AboutApp {
  padding: 32px 64px;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: @font-family;
  background: @graphite-80;
  align-items: flex-start;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;

  &-main-title {
    text-align: left;
    font-family: @font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 24px;
    color: @graphite-05;
    margin-bottom: 24px;
  }

  &-symphony-section {
    padding: 0px;
    margin: 0px 0px 24px 0;
    list-style: none;
    text-align: left;
  }

  &-symphony-section > li {
    padding-bottom: 8px;
    display: flex;
  }

  &-symphony-section > li:last-child {
    padding-bottom: 0px;
  }

  &-symphony-section > li > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
  }

  &-symphony-section > li > * {
    text-align: left;
    font-family: @font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 24px;
    color: @graphite-20;
  }

  &-symphony-section > li > strong {
    font-weight: 600;
    color: @graphite-05;
  }

  &-header-container {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
  }

  &-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
  }

  &-main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 32px;
    grid-area: main;
    max-width: 100%;
  }

  &-copy-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 8px 16px;
    gap: 4px;
    flex: 1;
  }

  &-copy-button {
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    line-height: 12px;
    color: @electricity-ui-30;
    cursor: pointer;
    font-family: @font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      padding-right: 8px;
      color: @electricity-ui-30;
    }
  }

  &-close-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-close-button {
    box-shadow: none;
    border: none;
    border-radius: 20px;
    font-size: 0.875rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 12px;
    background-color: @electricity-ui-50;
    color: @electricity-ui-05;
    cursor: pointer;
    padding: 12px 118px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 600;

    &:focus {
      box-shadow: 0 0 10px rgba(61, 162, 253, 1);
      outline: none;
    }
  }

  &-version-container {
    width: 100%;
  }

  &-copyright-text {
    font-size: 0.75rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: @graphite-20;
  }
}
