@font-family: sans-serif;
@text-padding: 10px;

body {
  overflow: hidden;
  background-color: white;
  margin: 0;
  height: 100%;
}

.LoadingScreen {
  margin: 0;
  height: 200px;
  font-family: @font-family;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: @text-padding;
  background: url(../assets/symphony-background.jpg) no-repeat center center fixed;
  background-size: cover;

  &-name {
    flex: 1;
    font-size: 1.3em;
    padding: @text-padding;
    font-weight: bold;
    color: white;
  }

  &-logo {
    margin: auto;
  }
}
