@import "theme";

.light {
  --text-color: #525760;
  --logo-bg: url('../assets/symphony-logo.png');
}
.dark {
  --text-color: #FFFFFF;
  --logo-bg: url('../assets/symphony-logo.png');
}

body {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  font-family: sans-serif;
}

.container {
  width: 344px;
  height: 64px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  line-height: 15px;
  box-sizing: border-box;
  border-radius: 8px;

  &:hover .close {
    visibility: visible;
  }
}

.ext-border {
  border: 2px solid #f6b202;
  border-radius: 8px;
  width: 340px;
  height: 60px;
  position: absolute;
}

.header {
  width: 232px;
  min-width: 215px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-container {
  display: flex;
}

.user-profile-pic-container {
  align-items: center;
  display: flex;
}

.user-name-text-container {
  display: flex;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(82, 87, 96, .32);
  margin: 12px;
  width: 40px;
  background: #FFFFFF;
}

.user-name-text {
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  margin: auto;
  text-align: center;
  color: #008EFF;
}

.ext-badge-container {
  height: 16px;
  width: 32px;
  margin: auto 8px;
  align-items: center;
}

.user-profile-pic {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  margin: 12px;
}

.close {
  position: absolute;
  right: 0;
  visibility: hidden;
  padding: 0 5.5px 5.5px 5.5px;
}

.title {
  font-family: sans-serif;
  font-weight: 600;
  width: auto;
  max-width: 175px;
  overflow-wrap: break-word;
  font-size: 14px;
  font-style: normal;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 24px;
  -webkit-box-orient: vertical;
  cursor: default;
  color: var(--text-color);
}

.company {
  font-family: sans-serif;
  font-size: 11px;
  overflow: hidden;
  color: #adadad;
  filter: brightness(70%);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.message {
  font-family: sans-serif;
  width: 220px;
  overflow-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: default;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.logo-container {
  margin: 10px;
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  content: var(--logo-bg);
}
