@import "theme";

@color: rgba(0, 0, 0, .8);

html {
  margin: 0;
  height: 100%;
  font-family: @font-family;
}

body {
  margin: 0;
  height: 100%;
  font-family: @font-family;
}

.content {
  border-radius: 2px;
  width: 100%;
  flex: 0 0 auto;
}

.header {
  display: flex;
  align-items: center;
  line-height: 1.3;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 20px;
  padding: 16px;
}

.header__title {
  font-weight: 500;
  font-style: normal;
  margin: 0 0 0 4px;
  font-size: 1.4rem;
  min-height: 13px;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: @color;
}

.form {
  width: 95%;
  margin: 0 auto;
}

.selector {
  padding: 0 9px 0 16px;
  cursor: pointer;
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  height: 100%;
  border: 1px solid #ccc !important;
  padding: 10px;

  .first-set {
    flex-grow: 1;
  }

  .second-set {
    flex-grow: 1;
    text-align: right;
  }
}

.radio {
  line-height: 1.7;
}

.radio__label {
  cursor: pointer;

  input {
    cursor: pointer;
  }

  .upper-right, .lower-right {
    float: right;
  }
}

.footer {
  padding: 12px 10px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
}

.buttonLayout {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.buttonDismiss {
  margin-right: 10px;
}
