@font-family: "Segoe UI", "Helvetica Neue", "Verdana", "Arial", sans-serif;
@font-family-ja: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
@text-color-primary: #FFFFFF;
@text-color-primary-dark: #2F3237;
@text-color-secondary: #6A707C;
