@import 'theme';

@white: rgb(255, 255, 255, 1);
@version-text-color: rgb(47, 47, 47, 1);
@text-padding: 10px;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: @graphite-90;
  margin: 0;
  height: 100%;
  width: 100%;
}

.components-window-root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Welcome:lang(ja-JP) {
  font-family: @font-family-ja;

  h4 {
    margin: 3px 0;
  }

  .Welcome-symphony-section {
    padding-left: 10px;
  }
}

.Welcome:lang(fr-FR) {
  .Welcome-symphony-section {
    padding-left: 10px;
  }
}

.Welcome {
  width: 360px;
  height: 494px;
  display: flex;
  flex-direction: column;
  font-family: @font-family;
  background-color: @graphite-80;
  box-shadow: 0 24px 48px rgba(9, 10, 11, 0.64),
    0 4px 8px rgba(15, 27, 36, 0.16);
  border-radius: 8px;

  &-content {
    width: 300px;
    padding: 48px 32px 24px;
  }

  &-text-container {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: @graphite-05;
  }

  &-image-container {
    text-align: center;
  }

  &-about-symphony-text {
    span {
      color: @white;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-login-text {
    margin-top: 32px;

    span {
      color: @white;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
    }
  }

  &-text-bold {
    font-weight: 700;
  }

  &-input-container {
    margin-top: 24px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: @graphite-20;
    }
  }

  &-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-main-container {
    padding: 10px 20%;
  }

  &-main-container-input-div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-main-container-podurl-box {
    float: left;
    width: 100%;
    max-width: -webkit-fill-available;
    height: 26px;
    background-color: @graphite-90;
    border: 2px solid @graphite-40;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin-top: 4px;
  }

  &-input-message {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: @graphite-20;
  }

  &-main-container-sso-box {
    float: left;
    width: 30%;
    font-size: 12px;
    padding-left: 5px;
  }

  &-name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 6px;
  }

  &-message-label {
    font-size: 12px;
    margin-left: 2px;
    color: red;
  }

  &-logo {
    margin: auto;
  }

  &-symphony-section {
    padding-left: 10px;
  }

  hr {
    width: 90%;
  }

  ul {
    list-style: none;
    clear: both;
    display: table;
    text-align: right;
    margin: 0;
  }

  h4 {
    text-align: start;
    margin: 6px 0;
  }

  li {
    display: table-row;
    text-align: left;
    line-height: 20px;
  }

  b {
    display: table-cell;
    padding-right: 1em;
    text-align: left;
    font-weight: normal;
  }

  &-continue-button {
    text-transform: capitalize;
  }

  &-continue-button {
    width: 300px;
    height: 40px;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 32px;
    display: inline-block;
    text-decoration: none;
    line-height: 12px;
    background-color: @electricity-ui-50;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    margin: 24px 0 4px 0;

    &:focus {
      box-shadow: 0 0 10px rgba(61, 162, 253, 1);
      outline: none;
    }

    &:disabled {
      background-color: @graphite-20;
    }
  }

  &-redirect-info-text-container {
    margin-top: 32px;

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: @graphite-30;
    }
  }
}
