@import 'theme';

@white: rgb(255, 255, 255, 1);
@version-text-color: rgb(47, 47, 47, 1);
@text-padding: 10px;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: white;
  margin: 0;
  height: 100%;
  width: 100%;
}

.Welcome:lang(ja-JP) {
  font-family: @font-family-ja;

  h4 {
    margin: 3px 0;
  }

  .Welcome-symphony-section {
    padding-left: 10px;
  }
}

.Welcome:lang(fr-FR) {
  .Welcome-symphony-section {
    padding-left: 10px;
  }
}

.Welcome {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: @font-family;

  &-image-container {
    text-align: center;
    margin: 50px 0 10px;
  }

  &-image-container img {
    width: 200px;
  }

  &-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-main-container {
    padding: 10px 20%;
  }

  &-main-container-input-div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-main-container-input-selection {
    width: 100%;
  }

  &-main-container-podurl-box {
    float: left;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 5px;
    max-width: -webkit-fill-available;
  }

  &-main-container-sso-box {
    float: left;
    width: 30%;
    font-size: 12px;
    padding-left: 5px;
  }

  &-name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 6px;
  }

  &-message-label {
    font-size: 12px;
    margin-left: 2px;
    color: red;
  }

  &-logo {
    margin: auto;
  }

  &-symphony-section {
    padding-left: 10px;
  }

  hr {
    width: 90%;
  }

  ul {
    list-style: none;
    clear: both;
    display: table;
    text-align: right;
    margin: 0;
  }

  h4 {
    text-align: start;
    margin: 6px 0;
  }

  li {
    display: table-row;
    text-align: left;
    line-height: 20px;
  }

  b {
    display: table-cell;
    padding-right: 1em;
    text-align: left;
    font-weight: normal;
  }

  &-continue-button {
    text-transform: capitalize;
  }

  &-continue-button {
    box-shadow: none;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 32px;
    display: inline-block;
    text-decoration: none;
    line-height: 12px;
    background-color: #3da2fd;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
    margin: 24px 0px 4px 0;

    &:focus {
      box-shadow: 0 0 10px rgba(61, 162, 253, 1);
      outline: none;
    }
  }

  &-continue-button-disabled {
    box-shadow: none;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 32px;
    display: inline-block;
    text-decoration: none;
    line-height: 12px;
    color: #ffffff;
    text-transform: uppercase;
    float: right;
    margin: 24px 0px 4px 0;
    cursor: not-allowed;
    background-color: #cccccc;
    pointer-events: none;

    &:focus {
      box-shadow: 0 0 10px rgba(61, 162, 253, 1);
      outline: none;
    }
  }
}
