{
    "url": "https://foundation-dev.symphony.com",
    "minimizeOnClose" : false,
    "launchOnStartup" : true,
    "alwaysOnTop" : false,
    "notificationSettings": {
        "position": "upper-right",
        "display": ""
    },
    "crashReporter": {
        "submitURL": "https://localhost:1127/post",
        "companyName": "Symphony",
        "uploadToServer": false
    }
}