{
    "url":"https://foundation-dev.symphony.com",
    "minimizeOnClose" : true,
    "launchOnStartup" : true,
    "alwaysOnTop" : false,
    "bringToFront": false,
    "whitelistUrl": "*",
    "isCustomTitleBar": true,
    "memoryRefresh": true,
    "devToolsEnabled": true,
    "contextIsolation": true,
    "ctWhitelist": [],
    "podWhitelist": [],
    "notificationSettings": {
        "position": "upper-right",
        "display": ""
    },
    "customFlags": {
        "authServerWhitelist": "",
        "authNegotiateDelegateWhitelist": "",
        "disableGpu": false,
        "disableThrottling": false
    },
    "permissions": {
        "media": true,
        "geolocation": true,
        "notifications": true,
        "midiSysex": true,
        "pointerLock": true,
        "fullscreen": true,
        "openExternal": true
    },
    "autoLaunchPath": ""
}
