{
    "url": "https://foundation-dev.symphony.com",
    "minimizeOnClose" : false,
    "launchOnStartup" : true,
    "alwaysOnTop" : false,
    "launchOnStartup" : true,
    "notificationSettings": {
        "position": "upper-right",
        "display": ""
    },
    "crashReporterDetails": {
        "backendURL": "http://crash.symphony.com/",
        "sendCrashReports": true,
        "autoSubmit": true
    }
}