
/*---
title:   Tile bar
section: div
---

Use this Id for setting the background image.
Typically you'll want to set background-image: url(""); and background-size: cover;

```example:html
<div id="title-bar">
```

*/
.title-bar {
    display: flex;
    position: fixed;
    background: rgba(74,74,74,1);
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    box-sizing: content-box;
    z-index: 1000;
}

/*---
title:   @media
section: title-bar
---
@media screen and (min-width: 400px) {
    #title-bar {
        background-url: url("big");
    }
}

@media screen and (max-width: 600px) {
    #title-bar {
        background-color: url("small");
    }
}
*/

/*---
title:   Branding logo
section: div
---

Use this class for the branding logo.
Typically you'll want to set content: url("") and adjust the width property

```example:html
<div id="branding-logo" align="right" />
```
*/
.branding-logo {
    height: 32px;
}

.hamburger-menu-button {
    color: rgba(255,255,255,1);
    text-align: center;
    width: 40px;
    height: 32px;
    background: center;
    border: none;
    border-image: initial;
    display: inline-grid;
    border-radius: 0;
    padding: 11px;
    box-sizing: border-box;
    cursor: default;
}

.hamburger-menu-button:focus {
    outline: none;
}

.title-container {
    height: 32px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.title-bar-title {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: white;
    margin: 0;
    padding-left: 10px;
    font-size: 13px;
}

.title-bar-button-container {
    justify-content: center;
    align-items: center;
    right: 0;
    color: rgba(255,255,255,1);
    -webkit-app-region: no-drag;
    text-align: center;
    width: 45px;
    height: 32px;
    margin: 0;
    box-sizing: border-box !important;
    cursor: default;
}

.title-bar-button {
    color: rgba(255,255,255,1);
    text-align: center;
    width: 45px;
    height: 32px;
    background: center;
    border: none;
    border-image: initial;
    display: inline-grid;
    border-radius: 0;
    padding: 10px 15px;
    cursor: default;
}

.title-bar-button:hover {
    background-color: rgba(255,255,255,0.2);
}

.title-bar-button:focus {
    outline: none;
}

.title-bar-button-container:hover {
    background-color: rgba(255,255,255,0.2);
}

.window-border {
    border-left: 1px solid rgba(74,74,74,1);
    border-right: 1px solid rgba(74,74,74,1);
}

.bottom-window-border {
    position: fixed;
    border-bottom: 1px solid rgba(74,74,74,1);
    width: 100%;
    z-index: 3000;
    bottom: 0;
}