/* File Download Experience Styles */
.download-bar {
    width: 100%;
    padding: 6px;
    margin: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #c4c4c4;
}
#download-main {
    list-style: none;
    display: inline-flex;
}
.download-item {
    position: relative;
    cursor: default;
    display: flex;
    align-items: center;
}
.download-element {
    padding: 2px 0 2px 5px;
    display: inline-block;
    width: 220px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    margin: 0 2px;
    position: relative;
}
.download-element .divider {
    position: relative;
    right: -5px;
    display: inline-block;
    width: 0;
    height: 40px;
    border-right: 1px solid #c4c4c4;
}
.download-element .downloaded-filename {
    color: #333;
    padding: 2px 5px;
}
.download-element .downloaded-filename .text-cutoff {
    margin: 0;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1;
}
.download-element .downloaded-filename span {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #999;
}
.download-element .caret {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15px;
    z-index: 9999;
    border-left: 1px solid #c4c4c4;
    background-size: 18px 18px;
    color: #6f6f6f;
    padding-top: 8px;
    margin-right: 3px;
}
.download-element .caret:hover .download-action-menu {
    display: inline-block;
}
.download-action-menu {
    display: none;
    position: absolute;
    bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    box-shadow: 0 10px 28px #bbb;
    width: 150px;
    left: 0px;
}
.download-action-menu ul {
    list-style: none;
    font-family: sans-serif;
    font-size: 13px;
    padding: 0 !important;
    margin: 6px 0;
    color: #333;
    font-weight: 500;
}
.download-action-menu ul li {
    padding: 3px 25px;
    cursor: default;
}
.download-action-menu ul li.disabled {
    color: #b4b4b6;
    pointer-events: none;
}
.download-action-menu ul li:hover {
    background-color: #2684f6;
    color: #fff;
}
.download-action-menu ul hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #dfdfdf;
    margin: 6px 0;
    padding: 0;
}
.close-download-bar {
    position: absolute;
    background-color: #c4c4c4;
    font-family: sans-serif;
    text-align: center;
    font-size: 13px !important;
    font-weight: 500;
    cursor: default;
    z-index: 999999;
    color: #6f6f6f;
    right: 0;
    width: 21px;
    bottom: 0;
    display: flex;
    clear: both;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.close-download-bar img {
    height: 20px;
    width: 20px;
}
.text-center {
    text-align: center;
}
.download-complete {
    width: 25px;
    border-radius: 50%;
    transition: 0.4s;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-complete span {
    color: #6f6f6f;
    font-size: 18px;
}
.download-complete span.download-complete-color {
    color: #51b8de;
}
body:not(.optimal-performance) .download-complete.flash {
    animation: blink-animation 0.8s steps(5, start) infinite;
}
.download-complete.flash {
    background-color: #cfe5ed;
    border-color: #51b8de;
    width: 25px;
    height: 25px;
}
@keyframes blink-animation {
    to {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
    }
}
@-webkit-keyframes blink-animation {
    to {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
    }
}
.download-finished {
    position: relative;
    font-size: 30px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}
.download-progress .tempo-icon {
    font-size: 18px;
}
